* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
    color: aqua;
}


body{
    width: 100%;
    background: blue;
    position: relative;
}

.menu {
    background: mediumpurple;
    width: 300px;
    height: 100%;
}


#menu .items {
    margin-top: 40px;
}

#menu .items li{
    list-style: none;
    padding: 15px 0;
}

#menu .items li i{
    list-style: none;
    padding: 15px 0;
}

#menu .items li:hover{
    background: bisque;
    cursor: pointer;
}

#menu .items li:nth-child(1){
    border-left: 4px solid #ffff;
}

#menu .items li a {
    text-decoration: none;
    color: rgb(134, 141, 151);
}